// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright 2022 in.hub GmbH
 */

/dts-v1/;

#include "am335x-inhub-gm100.dts"

/ {
	model = "TURCK IM18-CCM60";
	compatible = "ti,am335x-duoSol-I-xCom1", "turck,im18-ccm60", "ti,am33xx";
	/delete-node/ leds;

	st_tof {
		compatible = "st,tof";
	};

	leds {
		compatible = "gpio-leds";

		system_blue {
			label = "sybl";
			gpios = <&gpio2 0x16 0x0>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};

		system_green {
			label = "sygn";
			gpios = <&gpio0 0xc 0x0>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		system_red {
			label = "syrd";
			gpios = <&gpio0 0x7 0x0>;
			default-state = "off";
		};

		backplane_green {
			label = "bpgn";
			gpios = <&gpio2 0x18 0x0>;
			default-state = "off";
		};

		backplane_red {
			label = "bprd";
			gpios = <&gpio2 0x19 0x0>;
			default-state = "off";
		};

		status_green {
			label = "stgn";
			gpios = <&gpio0 0x1a 0x0>;
			default-state = "off";
		};

		status_red {
			label = "strd";
			gpios = <&gpio0 0x1b 0x0>;
			default-state = "off";
		};

		watchdog {
			label = "watchdog";
			gpios = <&gpio3 0x10 0x0>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};
};
