// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright 2025 in.hub GmbH
 */

/dts-v1/;

#include "imx6ull-inhub-emmc.dtsi"
#include "imx6ull-inhub-lan8831.dtsi"

/ {
	model = "in.hub HUB-SE100 Board";
	compatible = "inhub,hub-se100", "fsl,imx6ull";

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		led_green_activity: green-activity {
			label = "green:activity";
			gpios = <&gpio1 20 0x0>;
			default-state = "off";
		};

		led_red_activity: red-activity {
			label = "red:activity";
			gpios = <&gpio1 21 0x0>;
			default-state = "off";
		};

		led_green_heartbeat: green-heartbeat {
			label = "green:heartbeat";
			gpios = <&gpio5 9 0x0>;
			linux,default-trigger = "timer";
		};
	};
};

&iomuxc {
	pinctrl-0 = <&pinctrl_gpio3 &pinctrl_gpio_din>;

	/delete-node/ adc1grp;

	pinctrl_leds: ledsgrp {
		fsl,pins = <
			MX6UL_PAD_SNVS_TAMPER9__GPIO5_IO09	0x74 /* SODIMM 138 - LED1G */
			MX6UL_PAD_UART2_TX_DATA__GPIO1_IO20 0x74 /* SODIMM 36 - LED2G */
			MX6UL_PAD_UART2_RX_DATA__GPIO1_IO21 0x74 /* SODIMM 38 - LED2R */
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6UL_PAD_CSI_HSYNC__I2C2_SCL	0x4001f8b0
			MX6UL_PAD_CSI_VSYNC__I2C2_SDA	0x4001f8b0
		>;
	};

	pinctrl_i2c2_gpio: i2c2gpiogrp {
		fsl,pins = <
			MX6UL_PAD_CSI_HSYNC__GPIO4_IO20	0x4001f8b0
			MX6UL_PAD_CSI_VSYNC__GPIO4_IO19	0x4001f8b0
		>;
	};

	pinctrl_gpio_din: dingrp {
		fsl,pins = <
			MX6UL_PAD_UART2_RTS_B__GPIO1_IO23	0xf0b0 /* SODIMM 34 - DIN */
		>;
	};

	pinctrl_adc1_nopd: adc1nopdgrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO00__GPIO1_IO00	0x00 /* SODIMM 8 - ADCx_IN0 */
			MX6UL_PAD_GPIO1_IO01__GPIO1_IO01	0x00 /* SODIMM 6 - ADCx_IN1 */
			MX6UL_PAD_GPIO1_IO08__GPIO1_IO08	0x00 /* SODIMM 4 - ADCx_IN8 */
			MX6UL_PAD_GPIO1_IO09__GPIO1_IO09	0x00 /* SODIMM 2 - ADCx_IN9 */
		>;
	};
};

&adc1 {
	status = "okay";
	pinctrl-0 = <&pinctrl_adc1_nopd>;
};

&fec2 {
	status = "disabled";
};

&gpio1 {
	gpio-line-names = "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "DIN";
};

&i2c2 {
	status = "okay";
	clock-frequency = <40000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_gpio>;
	sda-gpios = <&gpio4 19 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	scl-gpios = <&gpio4 20 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;

	sht@44 {
		compatible = "sht3x";
		reg = <0x44>;
	};
};

&reg_usbh_vbus {
	/delete-property/ enable-active-high;
};

